* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #E5E5E5;
}

body::before {
    content:''; /*o conteudo do que eu quero colocar antes do body, se eu escrevesse abc, apareceria acima do body*/
    width: 100vw;
    height: 350px;
    background: #121214;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #121214c9;
}