.footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer span {
  color: rgba(209, 208, 208, 0.596);
}