.lista-tarefas {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.texto-span {
  margin: 8px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario > input[type="text"] {
  padding: 4px 8px;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.btn-adicionar {
  margin-top: 20px;
  border: transparent;
}

.btn-adicionar:hover{
  border: transparent;
  background-color: black;
} 

.itens {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.item-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 20vw;
}

.item-lista > div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-lista  > button {
  background: transparent;
  border: none;
  padding: 1px;
}