.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8px;
}

.buttonsNav Button {
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.404);
    margin-right: 24px ;
}

.buttonsNav Button:first-child {
    border-radius: 50%;
    padding: 5px 6px;
}

.buttonsNav Button:nth-child(2){
    border-radius: 15px;    
    width: 125px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.header h1 {
    font-family: 'Poppins', sans-serif;
    margin: 55px 0 15px 0;
    line-height: 49px;
    font-size: 45px;

}
 
.section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section p {
    margin-bottom: 40px;
}

.sort {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sort a {
    text-decoration: none ;
    color: gray;
    font-family: Arial;
}

.sort a:hover {
    color: black;
}

.sort img {
    height: 30px;
}