@charset "UTF-8";


form {
    text-align: center;
}

.form-groupName,
.form-groupDataInicio,
.form-groupDataFim,
label {
     /* Coloca o label em uma nova linha */
    display: block;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 8px;
   
}

.form-groupName {
    margin-top: 30px;
}


.form-groupName {
    display: inline-block;
    text-align: center;
} 

.input-wrapper input {
    border: 2px solid #adadc0;
    border-radius: 3px;
    height: 40px;
    padding: 0 14px;
    line-height: 26px;
    min-width: 100px;
}


.name input {
    width: 430px;
    padding-left: 10px;
    /* Preenche a largura da célula do grid */
}

.dates {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.name, .dates {
    margin-bottom: 50px;
}


.btn-gerar, .btn-reset {
    background-color: rgba(0, 0, 255, 0.568);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    min-width: 120px;
    max-width: 220px;
    margin-top: 20px;
}



.screen2 {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.hide {
    display: none;
} 

.screen2 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 45px;
}
