* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: fit-content;
    padding: 20px;
    height: 100vh;
}   